apiVersion: v1
kind: Service
metadata:
    name: {{ .Chart.Name}}-service
    namespace: {{ .Values.namespace.mysql.name }}
spec:
    selector:
        app: mysql
    ports:
        - name: mysql
        port: 3306
    clusterIP: None
